/* Write your CSS styles here */

body {
    margin: 8px;
    display: block;
}

header {
    text-align: center;
}


.name {
    font-size: 35px;
}

img {
    width: auto;
    height: 50px;
}

hr {
    width: 750px;
    color: slategray;
}

#mainHeading {
    color: red;
}

#educationTitle,
#workExperience {
    padding: 20px;
    border: 2px solid slategray;
}



.workExperience,
.educationOne,
.educationTwo {
    padding-left: 65px;
    margin-bottom: 35px;
}

.funParagraph {
    color: green;
}

.funParagraph,
.skills,
.frameworks {
    margin-left: 25px;
}

footer {
    text-align: center;
}
